html {
  font-family: 'Open Sans', sans;
}

pre code {
  font-family: 'Inconsolata', monospace;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

a {
  color: blue;
}

a:hover {
  color: orangered;
}

a:visted {
  color: blue;
}

nav > a {
  margin: 0 10px 0 0;
}
/* START */

/* DESCENDANT SELECTOR */

/* ul li {
	color: red;
}

ol li {
	color: green;
} */

/* DESCENDANT CHILD SELECTOR */

/* span {
	background-color: blue;
}
 */

/* div > span > span {
	background-color: yellow;
} */

/* PSEUDO CLASSES */

/* button:hover {
	background-color: blue;
} */

/* input:required {
	border: 1px solid red;
} */

/* input:optional {
	border: 1px solid olivedrab;
} */

/* PSEUDO ELEMENTS */

/* h3::first-letter {
	color: red;
	font-size: 24px;
} */

/* .my-list {
	list-style: none;
} */

/* .my-list li::before {
	content: "\2665";
	color: red;
} */

/* .my-list > li:nth-child(even) {
	font-weight: bold;
} */

/* END */
