html {
  font-family: "Open Sans", sans;
} 

pre code {
  font-family: "Inconsolata", monospace;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
